body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    margin-top: 20px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.container {
    width: 80%;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.project-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.project:last-child {
    border-bottom: none;
}

.project-name {
    font-size: 1.5em;
    color: #333;
}

.project-date {
    color: #666;
    font-size: 0.9em;
}

.project-description {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
}

.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
.bgtext {
    background-color: #bdc3c7;
}
.no-space {
    line-height: 1.2;
}
.contact-info {
    margin-bottom: 0;
}
.contact-info .bold {
    color: blue;
}
.section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.date {
    text-align: right; 
    flex-shrink: 0;
}
.multiline {
    display: inline-block;
    word-wrap: break-word;
    max-width: 750px;
}
.no-bullet::before {
    content: none;
}

index-body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.overallContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
.iframe-container-resume {
    width: 100%;
    border: none;
    min-height: 1200px;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.iframe-container-projects {
    width: 100%;
    border: none;
    min-height: 800px;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.iframe-container-yatzy {
    width: 100%;
    border: none;
    min-height: 1200px;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.gameLink {
    color: blue;
    text-decoration: underline; 
    cursor: pointer;
}